@use '@styles/mixin.module.scss';

.btn {
    @include mixin.btn(176px, 42px, #222, 3px);
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        transition: background-color 300ms;
    }
}

.primaryBtn {
    background-color: #222;
    color: #fff;

    &:hover {
        background-color: transparent;
        color: #222;
        border: 1px solid #222;
    }
}

.secondaryBtn {
    background-color: #fff;
    color: #222;
    border: 1px solid #222;

    &:hover {
        background-color: #222;
        color: #fff;
    }
}
