@use '@styles/mixin.module.scss';

.container {
    position: relative;
    background-color: #333;
    margin-top: -75px;
    padding: 20px 50px;
    @include mixin.flex_box_custom(space-between, center, 0px);
}

.containerCard {
    @include mixin.flex_box_custom(center, center, 18px);

    width: 280px;
    height: 104px;
}

.containerContent {
    @include mixin.flex_box_custom(center, flex-start, 8px);
    flex-direction: column;
    color: #fff;
    font-weight: 300;
    font-size: 16px;

    .content {
        @include mixin.flex_box_custom(center, center, 0px);
    }

    .description {
        @include mixin.flex_box_custom(center, center, 0px);
    }
}
