.container {
    margin-bottom: 20px;

    .labelInput {
        font-size: 14px;
        color: #222;
        margin-bottom: 5px;
    }

    .boxInput {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            padding: 10px 0 10px 10px;
            border: 1px solid #e1e1e1;
            outline: none;
        }

        .boxIcon {
            position: absolute;
            top: 13px;
            right: 0;
            cursor: pointer;
        }
    }
}
